<h2>Password Reset Request</h2>

<p>
  Hello,
</p>
<p>
  To reset your password, please click on the following link:
</p>
<p>
  <a href="{{ .PasswordResetURL }}">Reset Password</a>
</p>
<p>
  Please note that this link is valid for one hour only. If you do not reset your password within this time, you will need to initiate the request again.
</p>
<p>
  If you have any difficulties resetting your password or have any concerns, please do not hesitate to contact our support team at {{ .SupportEmail }}.
</p>
<p>
  Thank you for your contributions.
</p>
